body {
  background-color: lightblue;
  text-align: center;
}

.jumbotron {
  background-color: rgb(118, 219, 163);
}

h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 115px;
}